body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: #e2e8f0;
}

header {
    background: #020617;
    padding: 25px;
    text-align: center;
}

nav {
    text-align: center;
    margin: 15px;
}

nav a {
    margin: 10px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
}

h3 {
    color: #38bdf8;
}

ul {
    line-height: 1.6;
}
