@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    margin: 0;
    font-family: Arial;
    background: #f1f5f9;
}

/* HERO */
.hero {
    height: 260px;
    background: url('images/cover.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    color: white;
}

/* INTRO */
.intro {
    padding: 40px;
}

.intro-header {
    display: flex;
    gap: 20px;
}

.profile-img {
    width: 100px;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

/* EDUCATION */
.edu-block {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.edu-logo {
    width: 40px;
}

.edu-inst a {
    text-decoration: none;
    color: black;
}

.edu-links a {
    margin-right: 10px;
}

/* PROJECTS */
.projects-section {
    padding: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

